.form-group {
  .is-disable {
    background: $tab-container-color !important;
  }
  .form-control {
    background: #202121;
    color: #ebebeb;
  }
  .custom-control {
    .custom-control-label {
      //font-weight: 200;
      color: white;
    }
    .custom-control-input:checked ~ .custom-control-label {
      color: #ffc900 !important;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: #ffc900 !important;
      background-color: #ffc900 !important;
    }
  }
}

.sign-radio > .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}
.sign-radio > .custom-control-label {
  color: var(--info);
}
